<%- include("../partials/emoji") %>

<div id="container-current-bid">
    <h2>Current Bid</h2>
    <h3 id="price">0</h3>
</div>

<form id="form-bid">
    <label for="input-bid">입찰가 제시</label>
    <input id="input-bid" required />
    <button>submit</button>
</form>

<div id="container-chat">

</div>