<%- include("../partials/emoji") %>

<div id="current-bid-container">
    <h2>Current Bid</h2>
</div>

<div id="bid-container" style="background-color: aqua;">
    <form id="bid-form">
        <label for="bid-input">입찰가 제시</label>
        <input id="bid-input" name="bidPrice" required />
        <button>submit</button>
    </form>
</div>


<script src="/js/room.js" defer></script>