<h1>Create reservation</h1>
<% if (isLoggedIn) { %>
    <form id="form-reservation" method="post" action="/reservation/upload" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <label for="input-name">제목</label>
                </td>
                <td>
                    <input type="text" id="input-name" placeholder="경매 물품을 입력" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="input-description">설명</label>
                </td>
                <td>
                    <textarea type="text" id="input-description" placeholder="경매 물품 설명 입력"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="input-startTime">시작 시간</label>
                </td>
                <td>
                    <input type="datetime-local" id="input-startTime" name="startTime" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="input-img">사진</label>
                </td>
                <td>
                    <input type="file" id="input-img" name="photo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" />
                    <input type="reset" />
                </td>
            </tr>
        </table>
    </form>
<% } else { %>
    <h1>Please Sign in</h1>
<% } %>

<!--script for confirming password
<script src="/js/reservation.js" defer></script>-->