<h1>Create reservation</h1>
<% if (isLoggedIn) { %>
    <form id="form-reservation" method="post">
        <table>
            <tr>
                <td>
                    <label for="input-email">이메일</label>
                </td>
                <td>
                    <input type="text" id="input-email" />
                    <span id="error-email" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="input-password">비밀번호</label>
                </td>
                <td>
                    <input type="password" id="input-password" placeholder="비밀번호를 입력" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="input-repassword">비밀번호 확인</label>
                </td>
                <td>
                    <input type="password" id="input-repassword" placeholder="비밀번호를 다시 입력" required/>
                    <span id="error-repassword" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" />
                    <input type="reset" />
                </td>
            </tr>
        </table>
    </form>
<% } else { %>
    <h1>Please Sign in</h1>
<% } %>

<script>
    // 서버 측 변수를 클라이언트 측 스크립트에서 사용
    const userId = '<%= currentUser.id %>';
    window.userId = userId;
</script>

<!--script for confirming password-->
<script src="/js/reservation.js" defer></script>