<%= reservationDetail.title %>
<%= reservationDetail.description %>
<%= reservation.start_time %>

<% if (reservationDetail.Photo) { %>
    <!--경로 앞에 / 붙여야 함-->
    <img src="/<%= reservationDetail.Photo.path %>" alt="Auction Image" />
<% } else { %>
    <p>No image available</p>
<% } %>