<!--<%= data.title %>
<%= data.start_time %>

<% if (data.Photo) { %>
    경로 앞에 / 붙여야 함
    <img src="/<%= data.Photo.path %>" alt="Auction Image" />
<% } else { %>
    <p>No image available</p>
<% } %>-->
<%= data %>