<form id="form-room">
    <table>
        <tr>
            <td>
                <label for="input-room">방 이름</label>
            </td>
            <td>
                <input type="text" id="input-room" placeholder="방 이름을 입력" required/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
                <input type="reset" />
            </td>
        </tr>
    </table>
</form>
<h1 id="test">test</h1>