<%= data.title %>
<%= data.start_time %>

<% if (data.Photo) { %>
    <!--경로 앞에 / 붙여야 함-->
    <img src="/<%= data.Photo.path %>" alt="Auction Image" />
<% } else { %>
    <p>No image available</p>
<% } %>

<button id="btn-room" data-room-id="
<%= roomid %>
">입장</button>
<button id="btn-chat">채팅</button>

<script src="/js/auction.js" defer></script>