<header>
    <div id="main-nav-container">
        <%- include("logo") %>
        <div id="main-nav-items">
            <a href="/">홈</a>
            <a href="#">예약 중</a>
            <a href="#">경매 중</a>
        </div>
        <div id="login">
            <%- include("loggedin") %>
        </div>
    </div>
</header>